body {
	background-color: #f5d9d5;
	font-family: 'Nunito', sans-serif;
}

#mainNavbar .navbar-brand {
	font-size: 2.4rem;
	color: #ea1c2c;
}

#mainNavbar .navbar-brand:hover,
#mainNavbar .navbar-brand:focus {
	color: #fff;
}

#mainNavbar .nav-link {
	color: #fff;
}

#mainNavbar .nav-link:hover,
#mainNavbar .nav-link:focus {
	color: #ea1c2c;
}

#mainNavbar {
	font-size: 2.4rem;
	font-weight: 100;
}

#headingText h1 {
	font-size: 3.2rem;
	font-weight: 100;
}

#headingText span {
	color: #ea1c2c;
}

.package h2 {
	color: #ea1c2c;
	font-weight: 100;
}

.package p {
	font-size: 1.2rem;
	font-weight: 100;
	color: #383838;
	line-height: 1.8;
}

.content {
	margin-bottom: 100px;
}

.navbar.scrolled {
	background: #dec0de;
	transition: background 500ms;
}

@media (max-width: 1300px) {
	#headingText h1 {
		font-size: 2.2rem;
	}
}
